<div class="hero-stat-editable">
    <label><span>Patk:</span> <input type="number" min="0" max="9999" ng-model="ctrl.hero.atk"/></label>
    <label>
        <span>Matk:</span> 
        <input type="number" min="0" max="9999" ng-model="ctrl.hero.matk"/>
    </label>
    <label><span>Acc: </span> <input type="number" min="0" max="9999" ng-model="ctrl.hero.acc"/>  </label>
    <!--disable crit for solo mage - todo checkbox <label><span>Crit:</span> <input type="number" min="0" max="9999" ng-model="ctrl.hero.crit"/> </label> -->
    <label><span>Hp:  </span> <input type="number" min="0" max="9999" ng-model="ctrl.hero.hp"/>   </label>
    <label>
        <span>Pdef:</span> 
        <input type="number" min="0" max="9999" ng-model="ctrl.hero.def"/> 
        ({{ctrl.percentArmorFunc(ctrl.hero.def) | number:2}} %)
    </label>
    <label>
        <span>Mdef:</span> 
        <input type="number" min="0" max="9999" ng-model="ctrl.hero.mdef"/> 
        ({{ctrl.percentArmorFunc(ctrl.hero.mdef) | number:2}} %)
    </label>
</div>