<div>
    Turn 1:
    <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 1)"
        initial-selected="ctrl.initialSkills[0]">
    </select-skill>
</div>
<div>
    Turn 2:
    <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 2)"
        initial-selected="ctrl.initialSkills[1]">
    </select-skill>
</div>
<div>
    Turn 3:
    <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 3)"
        initial-selected="ctrl.initialSkills[2]">
    </select-skill>
</div>
<div>
    Turn 4:
    <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 4)"
        initial-selected="ctrl.initialSkills[3]">
    </select-skill>
</div>
<div>
    Turn 5:
    <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 5)"
        initial-selected="ctrl.initialSkills[4]">
    </select-skill>
</div>