<div>
    <label class="col-sm-3 control-label">Turn 1:</label>
    <div class="col-sm-9">
        <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 1)" initial-selected="ctrl.initialSkills[0]">
        </select-skill>
    </div>
</div>
<div>
    <label class="col-sm-3 control-label">Turn 2:</label>
    <div class="col-sm-9">
        <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 2)" initial-selected="ctrl.initialSkills[1]">
        </select-skill>
    </div>
</div>
<div>
    <label class="col-sm-3 control-label">Turn 3:</label>
    <div class="col-sm-9">
        <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 3)" initial-selected="ctrl.initialSkills[2]">
        </select-skill>
    </div>
</div>
<div>
    <label class="col-sm-3 control-label">Turn 4:</label>
    <div class="col-sm-9">
        <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 4)" initial-selected="ctrl.initialSkills[3]">
        </select-skill>
    </div>
</div>
<div>
    <label class="col-sm-3 control-label">Turn 5:</label>
    <div class="col-sm-9">
        <select-skill skill-list="ctrl.skillList" on-select="ctrl.setSkill($event, 5)" initial-selected="ctrl.initialSkills[4]">
        </select-skill>
    </div>
</div>