<h3>{{ctrl.result.resultText}}</h3>
<ul>
    <li>
        Fight result - <b>{{ctrl.result.resultText}}</b>. Grade - <b>{{ctrl.result.grade}}</b>
    </li>
    <li>
        Hp loss - {{ctrl.result.hpLost}}
    </li>
    <li>
        Damage dealt - <b>{{ctrl.result.heroStatistic.pdmgDeal}}</b> atk <b>{{ctrl.result.heroStatistic.mdmgDeal}}</b> matk 
    </li>
    <li>
        Damage taken - <b>{{ctrl.result.heroStatistic.pdmgTaken}}</b> atk <b>{{ctrl.result.heroStatistic.mdmgTaken}}</b> matk 
    </li>
    <li>
        Hits - 
        <b>{{ctrl.result.heroStatistic.hits}} / {{ctrl.result.heroStatistic.total}} ({{ctrl.result.heroStatistic.getHitPercent() | number : 2}} %)</b>        
    </li>
    <li>
        Crits - 
        <b>{{ctrl.result.heroStatistic.crits}} / {{ctrl.result.heroStatistic.hits}} ({{ctrl.result.heroStatistic.getCritPercent() | number : 2}} %)</b>        
    </li>
    <li>
        Fight duration - {{ctrl.result.duration}} turns.
    </li>
</ul>