<h3>{{ctrl.result.resultText}}</h3>
<ul>
    <li>
        Fight result -
        <b>{{ctrl.result.resultText}}</b>. Grade -
        <b>{{ctrl.result.grade}}</b>
    </li>
    <div ng-if="ctrl.result.heroes.length == 1">
        <li>
            Hp loss -
            <b>{{ctrl.result.hero.getHpLoss()}}</b>
        </li>
        <li>
            Damage dealt -
            <b>{{ctrl.result.hero.statistic.pdmgDeal}}</b> atk
            <b>{{ctrl.result.hero.statistic.mdmgDeal}}</b> matk
        </li>
        <li>
            Damage taken -
            <b>{{ctrl.result.hero.statistic.pdmgTaken}}</b> atk
            <b>{{ctrl.result.hero.statistic.mdmgTaken}}</b> matk
        </li>
        <li>
            Hits -
            <b>{{ctrl.result.hero.statistic.hits}} / {{ctrl.result.hero.statistic.total}} ({{ctrl.result.hero.statistic.getHitPercent()
                | number : 2}} %)</b>
        </li>
        <li>
            Crits -
            <b>{{ctrl.result.hero.statistic.crits}} / {{ctrl.result.hero.statistic.hits}} ({{ctrl.result.hero.statistic.getCritPercent()
                | number : 2}} %)</b>
        </li>
    </div>
    <li>
        Fight duration - {{ctrl.result.duration}} turns.
    </li>
    <div ng-if="ctrl.result.heroes.length > 1">
        <li ng-repeat="hero in ctrl.result.heroes">
            <details>
                <summary>{{hero.name}} stats</summary>
                <ul>
                    <li>
                        Hp loss -
                        <b>{{hero.getHpLoss()}}</b>
                    </li>
                    <li>
                        Damage dealt -
                        <b>{{hero.statistic.pdmgDeal}}</b> atk
                        <b>{{hero.statistic.mdmgDeal}}</b> matk
                    </li>
                    <li>
                        Damage taken -
                        <b>{{hero.statistic.pdmgTaken}}</b> atk
                        <b>{{hero.statistic.mdmgTaken}}</b> matk
                    </li>
                    <li>
                        Hits -
                        <b>{{hero.statistic.hits}} / {{hero.statistic.total}} ({{hero.statistic.getHitPercent()
                            | number : 2}} %)</b>
                    </li>
                    <li>
                        Crits -
                        <b>{{hero.statistic.crits}} / {{hero.statistic.hits}} ({{hero.statistic.getCritPercent()
                            | number : 2}} %)</b>
                    </li>
                </ul>
            </details>
        </li>
    </div>
</ul>