<h3 class="ngdialog-message">Enter your hero stats</h3>
<div>
    <label class="ngdialog-label">
        <span class="label-text">Patk</span>
        <input  class="ngdialog-input" type="number" min="0" max="9999" ng-model="ngDialogData.stats.atk"/>        
    </label>
    <label class="ngdialog-label">Matk
        <input class="ngdialog-input" type="number" min="0" max="9999" ng-model="ngDialogData.stats.matk" />
    </label>
    
    <label class="ngdialog-label">Acc
        <input class="ngdialog-input" type="number" min="0" max="9999" ng-model="ngDialogData.stats.acc" />
    </label>
    <label class="ngdialog-label">Crit
        <input class="ngdialog-input" type="number" min="0" max="100" ng-model="ngDialogData.stats.crit" />
    </label>
    <label class="ngdialog-label">Pdef
        <input class="ngdialog-input" type="number" min="0" max="9999" ng-model="ngDialogData.stats.def" />
    </label>
    <label class="ngdialog-label">Mdef
        <input class="ngdialog-input" type="number" min="0" max="9999" ng-model="ngDialogData.stats.mdef" />
    </label>
    <label class="ngdialog-label">Hp
        <input class="ngdialog-input" type="number" min="0" max="9999" ng-model="ngDialogData.stats.hp" />
    </label>
</div>
<div class="ngdialog-buttons ">
    <button class="ngdialog-button ngdialog-button-primary" ng-click="confirm(ngDialogData.stats)">Add</button>
</div>